body {
    background-color: rgb(68, 78, 88);
}

div {
    background-color: rgb(104, 114, 146);
    border-width: 5px;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 5px;

}

p {
    color: yellowgreen;
}

span {
    color: white;
}
